<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lec.spring.app.persistence.AppDAO">

    <insert id="insert" flushCache="true"
            parameterType="com.lec.spring.app.domain.AppDTO">
        insert into application
            (a_uid, a_view, u_uid, h_uid, r_uid)
        values
            (SEQ_Application_A_uid.nextval, 0,#{u_uid},#{h_uid},#{r_uid})

   </insert>

    <select id="selectByUid" resultType="com.lec.spring.app.domain.AppDTO">
			select *from Application a left outer join HUSER u on a.u_uid= u.U_UID
            left outer join RESUME r on a.r_uid=r.R_UID
            where a.u_uid=1
	</select>

    <select id="selectRByUid" resultType="com.lec.spring.app.domain.AppDTO">
        select * from resume where u_uid = #{u_uid}
    </select>


    <select id="selectAByUid" resultType="com.lec.spring.app.domain.AppDTO">
        select a.*, h.*, to_date(H_REGDATE,'YYYY-MM-DD')-round(SYSDATE) "dday",r.*
        from Application a
          left outer join Hire h on a.h_uid = h.H_UID
         left outer join RESUME R on a.r_uid = R.R_UID
WHERE a.u_uid = #{u_uid}
    </select>

    <delete id="deleteByAid" flushCache="true">
        DELETE FROM application WHERE a_uid = #{a_uid}
    </delete>

    <update id="updateByAid" flushCache="true">
        UPDATE Application SET r_uid=#{param2}WHERE a_uid=#{param1}
    </update>
</mapper>