<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lec.spring.resume.persistence.resumeDAO">

    <insert id="filesave" flushCache="true"
            parameterType="com.lec.spring.resume.domain.FileDTO">
        insert into resumeFile
            (rf_uid, u_uid, rf_source)
        values
            (SEQ_Resume_rf_uid.nextval, #{param1},#{param2})
   </insert>

    <delete id="deleteFile" flushCache="true">
        DELETE FROM resumeFile WHERE u_uid = #{param1}
    </delete>

</mapper>