<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lec.spring.user.persistence.UserDAO">

    <insert id="register" parameterType="com.lec.spring.user.domain.UserDTO">
        INSERT INTO HUser (
        u_uid,
         u_id,
         u_pw,
         u_name,
         u_jumin,
         u_email,
         u_phoneNum
    ) VALUES (
        SEQ_HUser_u_uid.nextval
        , #{u_id}
        , #{u_pw}
        , #{u_name}
        , #{u_jumin}
        , #{u_email}
        , #{u_phoneNum}
    )
    </insert>

</mapper>